@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-estedad);
  outline: none;
}

:root {
  --color-primary: #5d5fef;
  --color-red: #fa5a7d;
  --color-red-light: #ffe2e5;
  --color-orange: #ff947a;
  --color-orange-light: #fff4de;
  --color-green: #00e096;
  --color-green-light: #dcfce7;
  --color-purple: #bf83ff;
  --color-purple-light: #f3e8ff;
  --color-gray-1: #eeeeee;
  --color-gray-2: #333333;
  --color-gary-3: #737791;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .heading-2 {
    @apply m-4 lg:m-0 flex justify-end text-[#05004E] font-bold;
  }

  .chart-informations {
    @apply rounded-xl flex flex-col justify-between p-4;
  }

  .charts {
    @apply bg-white lg:col-span-1 rounded-lg border-b-2 lg:border-none;
  }
}
